.active{
    text-align: center;
    border: 1px solid grey;
    background-color: #abff96
}

.disabled{
    text-align: center;
    border: 1px solid grey;
    background-color: #ff7373;
}

.list-container {
    cursor: pointer;
    width: 1100px;
    max-height: 20px;
    display: flex;
    padding: 8px;
    justify-content: space-between;
}
.list-container:hover {
    background-color: #def9ff;
}

.list-container>div {
    width: 75px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list-container>.comment {
    width: 50%
}
