.header {
  height: 35px;
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
}

.header > button {
  display: inline-block;
  padding: 0.7em 2.3em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
}
