h3 {
    text-align: center;
}

.login-container {
    display: flex;
    justify-content: center;
}

input {
    margin:15px 0;
    padding:15px 10px;
    width:100%;
    outline:none;
    border:1px solid #bbb;
    border-radius:20px;
    display:inline-block;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -ms-transition:0.2s ease all;
    -o-transition:0.2s ease all;
    transition:0.2s ease all;
}

.confirm-button {
    padding:15px 57px;
    width:auto;
    background:#1abc9c;
    border:none;
    color:white;
    cursor:pointer;
    display:inline-block;
    float:right;
    clear:right;
    -webkit-transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -ms-transition:0.2s ease all;
    -o-transition:0.2s ease all;
    transition:0.2s ease all;
}
